
# Node
/web/node_modules/
web/dist/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

.project
.classpath
.settings

### Java ###
*.class
*.jar
*.war
*.ear
*.iml

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Spring Boot ###
spring.log
.env
application-local.properties
application-local.yml
